<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fa01-etp-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1c869071-1619-414d-87ec-ad3769145014/resourceGroups/app-etp-test-rg/providers/Microsoft.Web/sites/fa01-etp-test</ResourceId>
    <UserName>$fa01-etp-test</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fa01-etp-test.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>